spring:
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: "deepseek-coder-v2:16b"
          temperature: 0.7
          max-tokens: 1024
  threads:
    virtual:
      enabled: true
  application:
    name: demo